    <footer class="signup-page">
        <div class="container">
            <section class="copyright-area">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright"><a href="http://crowdkeep.com/Terms">Terms and conditions</a></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="copyright text-muted text-right">Copyright &copy; 2014 CrowdKeep. All rights reserved</p>
                    </div>
                </div>
            </section>
        </div>
    </footer>