<section class="bg-gradient nonavbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
                    <form id="signup-form" name="signupForm" class="signup-form signup-container" role="form" ng-controller="UserSignupCtrl" novalidate>
                        <header>
                            <a href=""><img src="img/crowdkeep35.png" /></a>
                        </header>
                        <div>
                        	<p>Forgot Password.</p>
                        </div>

                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
    <ng-include src="'views/partials/footer.html'"></ng-include>