<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h2>Notifications</h2>
			<div class="row row-notif">
				<div class="col-xs-3">
					<h4>Mobile Phone</h4>
					<div class="small">Checking this box allows you to receive mobile updates by regular SMS text message. Message and Data rates may apply.</div>
				</div>
				<div class="col-xs-4 border-left">
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Enable text message notifications
					  </label>
					</div>
				</div>
			</div>
				<!-- ./row -->
			<div class="row row-notif">
				<div class="col-xs-3">
					<h4>Send SMS notifications when:</h4>
				</div>
				<div class="col-xs-4 border-left">
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    New user is created
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    New group is created
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    New task is created
					  </label>
					</div>
					<hr />
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Timesheet is submitted
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Expense is submitted
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Schedule is submitted
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Invoice is submitted
					  </label>
					</div>
				</div>
			</div>
			<!-- ./row -->

				<div class="row row-notif">
					<div class="col-xs-3">
						<h4>Send email notifications when:</h4>
					</div>
					<div class="col-xs-4 border-left">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    A new user is created
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    A new group is created
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    A new task is created
						  </label>
						</div>
						<hr />
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Timesheet is submitted
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Expense is submitted
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Schedule is submitted
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Invoice is submitted
					  </label>
					</div>
					</div>

					</div>
					<!-- ./row -->

			</div>
		</div>
  	</div>
  	<!-- ./row -->
</div>
<!-- ./container -->
