<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h2>Account Settings</h2>
		</div>
  	</div>
	<!-- /.row -->
  <div class="row">
    <div class="col-xs-4">
    	<div class="account-thumbnail">
    		<img src="http://placehold.it/100x100" class="img-circle" />
    		<button class="btn btn-default">Change photo</button>
    	</div>
    		<h4>Full Name</h4>
    		<form role="form">
    			<div class="form-group">
    				<input class="form-control" placeholder="Address 1" />
    			</div>
    			<div class="form-group">
    				<input class="form-control" placeholder="Address 1" />
    			</div>
    			<div class="row">
    				<div class="col-xs-8">
		    			<div class="form-group">
		    				<input class="form-control" placeholder="City" />
		    			</div>
		    		</div>
		    		<div class="col-xs-4">
		    			<div class="form-group">
		    				<input class="form-control" placeholder="State" />
		    			</div>
		    		</div>
		    	</div>
		    	<!-- ./row -->
		    	<div class="row">
			    	<div class="col-xs-4">
			    		<div class="form-group">
			    				<input class="form-control" placeholder="Zip" />
			    		</div>
					</div>
				</div>
				<!-- ./row -->
    		</form>



    </div>
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->
