      <div class="secondary-navbar">
        <div class="nav-project-select">
          <div class="title-small">
            Project:
          </div>
          <div class="title-large">
            <span class="dropdown-toggle" data-toggle="dropdown">The Project Name <i class="flaticon solid down-2"></i></span>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Another Project</a></li>
              <li><a href="#">A Third Project</a></li>
            </ul>
          </div>
        </div>
        <ul class="list-unstyled nav-list">
          <li><a href="">Employees</a></li>
          <li><a href="">Positions</a></li>
          <li><a href="">Settings</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import <i class="flaticon solid down-1"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">CSV</a></li>
              <li><a href="#">XLS</a></li>
              <li><a href="#">XXX</a></li>
            </ul>
          </li>
        </ul>

      </div>
      <!-- /.secondary-navbar -->