<div class="container-fluid welcome-banner">
			<h1>Welcome to Crowdkeep</h1>
			<h4>Congratulations on creating a new account!</h4>
			<h4>Follow the buttons below to help you get started.</h4>
			<ul>
				<li><button class=""><i class="fa fa-user"></i> Add Employee</button></li>
				<li><button class=""><i class="fa fa-cog"></i> Settings</button></li>
				<li><button class=""><i class="fa fa-question"></i> Help</button></li>
			</ul>
			<div class="welcome-exit">
				<button><i class="glyphicon glyphicon-remove"></i></button>
			</div>
</div>
<!-- ./container -->