<div class="container-fluid">
  <div class="row top-options">
        <div class="col-xs-4">
            <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
              <input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker>
            </div>
        </div>
  </div>
  <report-selector report-list="reportList" report-url="#/time/reports/"></report-selector>
</div>
<!-- /.container -->

<div id="#addTime" ng-show="addTime">
  <div class="lite-pane-wrap">
    <div class="lite-pane downscroll">
      <form role="form" id="formAddTime" ng-controller="TimeAddCtrl">
        <div class="form-group">
          <label for="">Employee Name</label>
          <input type="text" class="form-control" ng-model="addTime.employee" placeholder="Enter employee name" name="name" ng-required="true" typeahead="name as employee.name for employee in employees | filter:{name: $viewValue}" typeahead-loading="loadingEmployees" class="form-control">
          <i ng-show="loadingEmployees" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="form-group">
          <label for="">Task Order</label>
          <select class="form-control" ng-model="addTime.taskOrder" ng-options="task.id as task.name for task in getTaskOrders(addTime.employee, taskOrders)" name="task-order">
          </select>
        </div>
        <div class="form-group">
          <label for="">Another input</label>
          <input type="text" class="form-control" placeholder="Another input">
        </div>
        <div class="form-group">
          <label for="">Some Dropdown</label>
          <select class="form-control">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
            <option>Option 5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Shift Work</label>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="addTime.shift" value="option1" checked>
              8am - 4pm
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="addTime.shift" value="option2">
              4pm - 12am
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="">Additional comments</label>
          <textarea class="form-control" rows="3" ng-model="addTime.comments"></textarea>
        </div>
      </form>
    </div>
      <div class="lite-pane--base">
        <div class="col-sm-12 text-right controls">
          <button ng-click="addTime=false" class="btn btn-default">Cancel</button>
          <button ng-click="saveTime()" class="btn btn-primary">Save</button>
        </div>
    </div>
  </div>
</div>
